@charset "ISO-8859-1";

#addW{
	top: 120px;
	left: 20px;
	position: absolute;
}

#addD{
	top: 120px;
	left: 220px;
	position: absolute;
}

section{
	margin-top: 175px;
}

.card{
	width: 18%;
    height: 400px;
    background: red;
    margin: 20px 50px;
    border-radius: 15%;
	display: inline-table;
    text-align: center;
}

img{
	width: 130px;
}

#desk{
	margin-top: 20%;
}

.query{
	position: relative;
	padding: 20px;
    border-radius: 20px;
	background: #edededd9;
	top: 30px;
	margin: 0 15px 0 15px;
}
