@charset "ISO-8859-1";

#addW{
	top: 120px;
	left: 20px;
	position: absolute;
}

#addD{
	top: 120px;
	left: 220px;
	position: absolute;
}

.card{
	margin-top: 195px;
	margin-left: 2%;
	width: 300px;
	height: 200px;
}

.card-inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.card:hover .card-inner{
	transform: rotateY(180deg);
}

.front, .back{
	position: absolute;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 50px;
	background: red;
}

.front{
	padding: 10px;
}

.back{
	transform: rotateY(180deg);
	height: 350px;
}

img{
	width: 130px;
}

.real-card{
	
}

#remove{
	left: -10px;
}

#update{
	right: -10px;
}

#desk{
	margin-top: 20%;
}

.a{
	position: absolute;
	top: 100%;
	padding: 5px;
	background: #edededd9;
    border-radius: 20px;
    margin-top: 10px;
}

#desk-a{
	position: initial;
}

.button{
	position: relative;
	padding: 20px;
    border-radius: 20px;
	background: #edededd9;
}