@charset "ISO-8859-1";

body{
	font-family: georgia;
	background: #abb2ff;
	margin: 0;
}

#container{
	width: 400px;
    height: 400px;
    background: #283b7a63;
    text-align: center;
    border-radius: 30px;
    animation: container 0.8s;
	animation-fill-mode: forwards;
}

#title{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin: 0;
	font-family: Gabriola;
	font-size: 80px;
	animation: form 0.8s;
	animation-fill-mode: forwards;
}

.login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: form 0.8s;
	animation-fill-mode: forwards;
}

form.login{
	top: 55%;
}

.input{
	padding: 10px;
	border-radius: 10px;
	border: none;
}

button.input{
	width: 100%;
	cursor: pointer;
}

#pc{
	position: absolute;
	width: 250px;
    top: 217px;
    right: -120px;
}

@keyframes container{
 	0% {width: 0px; opacity: 0%}
 	100% {width: 400px;}
}

@keyframes form{
	0% {opacity: 0%;}
 	100% {opactity: 100%;}
}